[gerrit]
	basePath = git
	canonicalWebUrl = <%= node['gerrit']['canonicalWebUrl'] %>
[database]
	type = MYSQL
	hostname = <%= node['gerrit']['database']['host'] %>
	database = <%= node['gerrit']['database']['name'] %>
	username = <%= node['gerrit']['database']['username'] %>
[auth]
	type = OPENID
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit
	javaHome = <%= node['java']['java_home'] %>
[sshd]
	listenAddress = *:<%= node['gerrit']['port'] %>
[httpd]
<% if node['gerrit']['proxy'] %>
	listenUrl = proxy-http<%= node['gerrit']['ssl'] ? 's' : '' %>://127.0.0.1:8080/
<% else %>
	listenUrl = http://*:8080/
<% end %>
[cache]
	directory = cache